<h1 class = "cocktail_banner">Create a new cocktail</h1>

<div class= "input">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name%>
    <%= f.submit "add a cocktail", class: "btn btn-primary" %>
  <% end %>
</div>
